# Python
__pycache__/
*.pyc
.venv/
backend/.env
backend/media/
backend/staticfiles/
*.sqlite3

# Node
node_modules/
frontend/dist/
frontend/.env.local

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
